@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Karla');

body
  font-family: Karla, sans-serif;

.condition-viewer ul.cv
  list-style-type: none;
  text-indent: 0;
  padding-left: 1em;
  line-height: 300%;